{% extends 'base.html' %} 

{% block title %}Compare prices across supermarkets{% endblock %}

{% block page_headline %}Browse Cairo's supermarkets{% endblock %}

{% block aside_list %}

<div class="column is-one-fifth">
    <div class="dropdown is-hoverable mb-5">
        <div class="dropdown-trigger">
            <a class="button is-large" aria-haspopup="true" aria-controls="supermarkets-list" href="{{ url_for('browse_supermarket_latest', supermarket=supermarket) }}">
                <img src="{{ url_for('static', filename='images/')}}{{ supermarket_logo }}" alt="{{ supermarket }}">
            </a>
        </div>
        <div class="dropdown-menu" id="supermarkets-list" role="menu">
            <div class="dropdown-content">
                <div class="dropdown-item">
                    <a class="button is-large" aria-haspopup="true" aria-controls="dropdown-menu4" href="{{ url_for('browse_supermarket_latest', supermarket=competitor) }}">
                        <img src="{{ url_for('static', filename='images/')}}{{ competitor_logo }}" alt="{{ competitor }}">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <aside class="menu">
        <ul class="menu-list is-size-6 has-text-weight-medium">
            <li>
                <a href="{{ url_for('browse_supermarket_latest', supermarket=supermarket) }}" class="is-flex is-align-items-center {% if not path %}has-text-primary-dark has-background-primary-light{% endif %}">
                    <span class="icon is-large is-size-3">
                        <span class="iconify" data-icon="gg:live-photo"></span>
                    </span>
                    <span class="is-hidden-mobile">Latest Changes</span>
                </a>
            </li>
            <li class="menu-label">Sections</li>

            {% for category in categories %}

            <li>
                <a href="{{ url_for('browse_supermarket_category', supermarket=supermarket, category=category.path) }}" class="is-flex is-align-items-center {% if path == '/browse/' + supermarket + '/' + category.path %}has-text-primary-dark has-background-primary-light{% endif %}">
                    <span class="icon is-large is-size-3">
                        <span class="iconify" data-icon="{{ category.icon }}"></span>
                    </span>
                    <span class="is-hidden-mobile">{{ category.title }}</span>
                </a>
            </li>

            {% endfor %}
        </ul>
    </aside>
</div>

{% endblock %}

{% block section_icon %}
    {% if active_category %}
        <span class="iconify" data-icon="{{ active_category.icon }}"></span>
    {% else %}
        <span class="iconify" data-icon="gg:live-photo"></span>
    {% endif %}
{% endblock %}

{% block section_title %}
    {{ active_category.title }}
{% endblock %}

{% block section_subtitle %}{{ count }} products.{% endblock %}

{% block section_table %}

<table class="table is-hoverable is-fullwidth has-text-weight-medium">
    <thead>
        <tr>
            <th class="thumbnail-column"></th>
            <th></th>
            <th class="price-column"></th>
            <th class="change-column"></th>
            <th class="updated-column is-hidden-mobile"></th>
        </tr>
    </thead>
    <tbody>
    	{% for product in products.items %}
        <tr>
            <td class="has-text-centered">
                <img src="{{ url_for('static', filename='images/products/') }}{{ supermarket }}/{{ product.product_id }}.jpg" alt="{{ product.title }}">
            </td>
            <td>
                {{ product.title }}{% if product.size %} - {{ product.size }}{% endif %} <a href="{{ product.url }}" target="_blank" class="is-size-6"><span class="iconify" data-icon="eva:external-link-fill"></span></a>
                {% if product.competitor_price and product.price < product.competitor_price %}
                	<br><small class="has-text-weight-light has-text-grey-light"><span class="has-text-success has-text-weight-medium">Cheaper</span> than {{ competitor_name }}</small>
                {% endif %}
            </td>
            <td class="has-text-right">
                <span class="is-hidden-mobile">LE</span> {{ product.price }}
            </td>
            <td class="has-text-right
            	{% if product.difference < 0 %}
            		has-text-success-dark has-background-success-light
            	{% elif product.difference > 0 %}
            		has-text-danger-dark has-background-danger-light
            	{% else %}
            		has-text-grey-light
            	{% endif %}
            	">
                {% if product.difference > 0 %}+{% endif %}{{ "%.1f"|format(product.difference) }}%
            </td>
            <td class="is-hidden-mobile">
                <p class="is-size-7 has-text-grey">{% if product.difference != 0 %}{{ product.updated.strftime('%b %-d') }}{% endif %}</p>
            </td>
        </tr>
        {% endfor %}
	</tbody>
</table>
{% endblock %}

{% block pagination %}

{% if products.has_next or products.has_prev %}
<nav class="pagination is-centered is-rounded" role="navigation" aria-label="pagination">
    {% if products.has_prev %}<a class="pagination-previous" href="{{ url_for('browse_supermarket_category', supermarket=supermarket, category=current_category, page=products.prev_num) }}">Previous</a>{% endif %}
    {% if products.has_next %}<a class="pagination-next" href="{{ url_for('browse_supermarket_category', supermarket=supermarket, category=current_category, page=products.next_num) }}">Next page</a>{% endif %}
    <ul class="pagination-list">
    {% for page_number in products.iter_pages() %}
        {% if page_number %}
            <li><a class="pagination-link {% if products.page == page_number %}is-current{% endif %}" aria-label="Goto page {{ page_number }}" href="{{ url_for('browse_supermarket_category', supermarket=supermarket, category=current_category, page=page_number) }}">{{ page_number }}</a></li>
        {% else %}
            <li><span class="pagination-ellipsis">&hellip;</span></li>
        {% endif %}
    {% endfor %}
    </ul>
</nav>
{% endif %}

{% endblock %}
